[Unit]
Description=Weather Station Script
After=network-online.target
Wants=network.target network-online.target

[Service]
User=ansht
WorkingDirectory=/home/ansht/weather-station
# ExecStartPre=/bin/bash -c 'pkill -f "python3 /home/ansht/weather-station/main.py" || true'
ExecStart=/usr/bin/env python3 /home/ansht/weather-station/main.py
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target